head
  title Drip: Dress right
  script(src='https://kit.fontawesome.com/82dc4ee1f2.js' crossorigin='anonymous')
  link(type='text/css' rel='stylesheet' href='/styles/main.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  link(href='https://fonts.googleapis.com/css?family=Alata&display=swap' rel='stylesheet')
.topnav
  .topnav-left
    a.logo-home(href='') drip.
  .topnav-right
    form(action='/' method='POST')
      input(type='text' name='city' placeholder='Enter the city' required='')
      button(type='submit') Search
    if(error)  
      div
        span.error-msg Error, try again        
.main.container
  .row.align-items-center
    .col-sm-6
      .details
        .cardtop
          img.ctopleft(src=`/images/weather/${data.weather[0].icon}.svg`)
          .ctopright
            h2 Today
            h4=date
            h6=ds
        .cardbottom
          .loc
            .tu
                h1=`${data.main.temp}째`
                a.active(href='/') C
                |  | 
                a.inactive(href='/imperial') F        
            //=`${temperature}째${unit}`
            h6.text-capitalize=data.weather[0].description
            h2=weatherTitle
            h6=data.sys.country
          .add-attributes
            table
              tbody
                tr
                  th.bold Feels like
                  th.feelslike=data.main.feels_like
                  th.bold H/L
                  th.maxNmin=`${data.main.temp_max}째/${data.main.temp_min}째`
                tr
                  th.bold Humidity
                  th.humidity=data.main.humidity
                  th.bold Pressure
                  th.pressure=data.main.pressure
                tr
                  th.bold Wind
                  th.wind=`${data.wind.speed}`
                  if(data.visibility)                                  
                   th.bold Visibility
                   th.visibility=data.visibility
    .col-sm-6
      .rightdetails
        each val in imgUrlSet
          .item
            img(src=`/images/clothes/${val}`)
