head
  title My first Web App
  script(src='https://kit.fontawesome.com/82dc4ee1f2.js' crossorigin='anonymous')
  link(type='text/css' rel='stylesheet' href='/css/style.css')
  link(href='https://fonts.googleapis.com/css?family=Alata&display=swap' rel='stylesheet')
.topnav
  .topnav-left
    a.logo-home(href='') drip.
  .topnav-right
    form(action='/' method='POST')
      input(type='text' name='city' placeholder='Enter the city here' required='')
      button.btn.btn-primary(type='submit')
        i.fas.fa-search-location
    nav
      a(href='') Home
      a(href='') About Us
.disp-wrapper
  .clothes
    ul
    each val in imgUrlSet
      li
        img(src=`/images/clothes/${val}`)
  .disp-weather
    h3=(`${weatherTitle}, ${country}`)
    div
      p Temperature
      p.weather=temperature
    div
      p Pressure, mm
      p.pressure=pressure
    div
      p Humidity, %
      p.humidity=humidity
    div
      p Wind, m/sec
      p.wind=wind
    div
      p Precipitation, %
      p.precip=imgUrlSet
